// Colors
$primary-color: #3ca25b;
$primary-accent-color: #157540;
$primary-accent-color-light: #167c43;
$secondary-color: #4bc470;
$shadow-color: #a8bad1;
$sidebar-bg: #f1f4f6;
$subtitle-color: #8d8d8d;
$filter-btn: #e5e8ed;
$filter-btn-text: #6d6e70;

body,
button,
input {
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

// HEADER BAR STYLES

.header-bar {
  position: relative;
  height: 80px;
  padding: 0 30px;
  background-color: $primary-color;
  box-shadow: 0 0px 20px $shadow-color;
  z-index: 20;
}

.logo {
  color: #fff;
  font: bolder 1.2em 'Lato', 'Helvetica Neue';
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 a {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.header-search {
  margin-left: 30px;
  max-width: 30vw;

  input {
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #f2f4f8;
    color: #101010;
    font-size: 16px;
    padding-left: 13px;
    min-width: 250px;
    width: 20vw;
    height: 40px;
  }

  button {
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: $primary-accent-color;
    cursor: pointer;
    color: #fff;
    width: 45px;
    height: 40px;
    position: relative;
    z-index: 2;

    &:hover {
      box-shadow: 0 0 15px $primary-accent-color-light;
    }
  }
}

.input-text-group {
  position: relative;
}

.input-text-icon {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 18px;
  opacity: 0.4;
  padding: 5px;

  &:hover {
    opacity: 0.8;
  }
}

// SIDEBAR STYLES

.sidebar {
  width: 30vw;
  min-width: 300px;
  height: calc(100vh - 80px);
  background-color: $sidebar-bg;
  box-shadow: 2px 0 20px $shadow-color;
  position: relative;
  z-index: 5;
  overflow: scroll;
}

.filters {
  background-color: #fff;
  padding: 0 45px;
  padding-bottom: 25px;
  border-bottom: solid 1px rgba($subtitle-color, 0.4);
}

.filter-title {
  color: $subtitle-color;
  font: 500 0.8em 'Helvetica Neue';
  text-transform: uppercase;
  padding-top: 20px;
}

.filter-btn {
  border: none;
  border-radius: 3px;
  background-color: rgba($filter-btn, 0.6);
  color: $filter-btn-text;
  cursor: pointer;
  font: 500 0.9em 'Helvetica Neue';
  padding: 8px 15px;
  margin-right: 5px;

  &:hover {
    background-color: rgba($filter-btn, 0.9);
  }
}

.filter-btn.filter-btn-selected {
  background-color: $secondary-color;
  box-shadow: 0 0 15px rgba($secondary-color, 0.6);
  color: #fff;

  &:hover {

  }
}

.filter-input-text {
  border: none;
  box-shadow: 0 2px 7px rgba($shadow-color, 0.6);
  color: $subtitle-color;
  padding: 10px 15px;
  width: 100%;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;

  &:focus {
    background-color: #f2f4f8;
    box-shadow: none;
  }
}

.trail-range {
  margin-bottom: 50px;
}

// FILTER RANGE STYLES

.noUi-horizontal {
  height: 7px;
}

.noUi-target {
  background: #f0f0f0;
  border-radius: 2px;
  border: none;
}

.noUi-connect {
  background: $secondary-color;
  box-shadow: none;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  left: -9px;
  top: -6px;
}

.noUi-handle {
  border: none;
  border-radius: 100px;
  background: $secondary-color;
  cursor: pointer;
  box-shadow: 0 1px 3px $shadow-color;
}

.noUi-tooltip {
  display: block;
  border: none;
  background: none;
  position: absolute;
  color: $secondary-color;
  font: 600 12px 'Helvetica Neue';
  text-align: center;
  padding: 10px;
  width: 60px;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 170%);
  transform: translate(-50%, 170%);
}

.noUi-pips {
  position: absolute;
  color: #fff;
}

.noUi-marker-large {
  background: #bababa;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 4px;
  width: 1px;
}

// RESULTS SYLES

.results {
  // overflow: scroll;
}

.result {
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba($shadow-color, 0.8);
  margin: 15px 15px;
  padding: 15px 10px;
  width: calc(100% - 30px);
}

.result-text-container {
  padding: 0 10px;
}

.result-img {
  border-radius: 6px;
  width: 4vw;
  height: 4vw;
}

.result-title {
  font: 500 1.05em 'Helvetica Neue';
  margin-bottom: 3px;
}

.result-subtitle {
  color: $subtitle-color;
  font: 400 0.8em 'Helvetica Neue';
}

.result-details {
  margin-top: 5px;

  h5 {
    color: $secondary-color;
    font: 400 0.8em 'Helvetica Neue';
    padding-right: 20px;
  }
}

.result-icon {
  color: $secondary-color;
  font-size: 0.8em;
  margin-right: 5px;
}

.result-link {
  margin-top: 10px;
  padding-top: 5px;
  width: 100%;
  border-top: solid 1px rgba($shadow-color, 0.6);
}

.rating {
  position: absolute;
  top: 10px;
  right: 13px;
  border-radius: 3px;
  background-color: $secondary-color;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  width: 32px;
  height: 32px;
}

// MAP STYLES

.map {
  width: calc(100% - 30vw);
  height: calc(100vh - 80px);
  min-width: 10vh;
  position: relative;
  z-index: 1;
}
